.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.7);
    /* width: 100%; */
    min-height: 64px;
    /* position: fixed; */
    /* position: sticky; */
    top: 0;
    padding: 0.5rem 0.2rem;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;

}

.avatar .logout{
    font-size: 1.6rem;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: .5rem;
    transition: background 300ms ease-in-out;
}

.avatar .logout:hover{
    background-color: var(--color-C);
    color: var(--color-6);
}

.avatar img {
    width: 40px;
    height: 40px;
    background-color: var(--color-2);
    padding: 2px;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}