.navbar {
    align-items: center;
    background-color: var(--color-B);
    color: var(--color-6);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;

    /* width: 100%; */
    min-height: 64px;
    /* position: fixed; */
    position: sticky;
    top: 0;
    padding: 0.5rem 0.2rem;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;

}

.avatar .avatar-logout{
    font-size: 1.6rem;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: .5rem;
    transition: background 300ms ease-in-out;
}

.avatar .logout:hover{
    background-color: var(--color-C);
    color: var(--color-6);
}

.avatar .avatar-img{
    display: flex;
}

.avatar .avatar-img img {
    width: 40px;
    height: 40px;
    padding: 1px;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
    border: 1px dashed var(--color-6);
}