<nav class="navbar">
    <div class="herramientas">
        <app-open-aside-btn></app-open-aside-btn>
    </div>
    <div class="vistas">
        <select name="vistas" id="vistas" form="vistas">
            <option value="1">Vista-1</option>
            <option value="2">Vista-2</option>
            <option value="3">Vista-3</option>
          </select>
    </div>
    <div class="avatar">
        <span class="avatar-tipo">{{user.tipo}}</span>
        <span class="avatar-img" title="{{ user.email }} | {{ user.tipo }}">
            <img src="../../../../assets/avatar/admin.jpg" alt="avatar">
        </span>
        <span
            (click)="signout()"
            class="avatar-logout">
            <i class="las la-sign-out-alt"></i>
        </span>
    </div>
</nav>
