.container {
    /*background-color: rebeccapurple;*/
    padding: 0.2rem 1rem;
}

.ubicacion {
    border: 1px dashed var(--color-2);
    padding: 20px;
    margin-bottom: 10px;
    border-radius:3px;
}

.form-group{
    background-color: white;
    
}

.form-campo.input{
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
}

.form-campo > input {
    padding: 0.3rem;
    width: 100%;
    border: 1px solid var(--color-2);
    border-radius: 3px;
}

.none{
    display: none;
}

.dialog-mapa{
    width: 200px;
    height: 300px;
}

.btn-crear, .btn-guardar{
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .p-card.p-component{
    border-radius:20px
} */